/* VARIÁVEIS */
:root{

    --backgroundColorInput: #373a3d;
    /*--backgroundColorButton: #15a9c4;*/
}

/* Body */
.container-body{
    width: 100%;
    height: auto;
}

.title-home{
    max-width: 80%;
    width: 432px;
    height: 120px;
    margin: 0 0 0 5%;
}

.title-home h1{
    width: 600px;
    max-width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;
}

.container-cadastro {
    background: linear-gradient(254.22deg, #7A198E 0%, rgba(158, 42, 213, 0) 103.45%);
    border-radius: 26px;
    
    max-width: 80%;
    width: 860px;
    height: auto;
    margin: 0 0 0 8%;
    margin-bottom: 2.2rem;
    padding-bottom: 20px;
}
.container-cadastro li{
    margin: 10px 20px;
    display: inline-block;
    margin-right: 3rem;
}
.container-cadastro input[type=radio] {
    border: 0px;
    width: 1.5rem;
    height: 1.5rem;
}
.container-cadastro label{
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 56px;
}
.container-cadastro input[type=text], input[type=date], input[type=password] {
    position: relative;
    margin: 1.5% 4%;
    border: 0px;
    min-height: 2rem;
    height: auto;
    width: 90%;
}

#title {
    position: relative;
    background-color: var(--backgroundColorNewsLetterTitle);
    width: 100%;
    padding: 15px 0px;
    border-radius: 0.35em;
    font-size: 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    margin-bottom: 20px;
}

.input {
    margin: auto;
    width: 240px;
    border-radius: 4px;
    background-color: var(--backgroundColorInput);
    padding: 8px 0px;
    margin-top: 15px;
}

.input-name {
    float: left;
    background-color: var(--backgroundColorInput);
    border: 1px solid var(--backgroundColorInput);
    padding: 1px 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}


input[type=text], input[type=password], input[type=date] {
    color: var(--textColorInput);
    background-color: var(--backgroundColorInput);
    border: 1px solid var(--backgroundColorInput);
    padding: 6px 10px;
    border-radius: 3px;
    font-size: 16px;
}

input[type=text]:focus {
    border: 1px solid var(--backgroundColorInput);
    outline: none;
}

.input-email {
    float: left;
    background-color: var(--backgroundColorInput);
    border: 1px solid var(--backgroundColorInput);
    padding: 1px 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}


.button-back-import, input[type=submit] {

    background: linear-gradient(106.8deg, rgba(92, 16, 107, 0.45) 3.63%, rgba(13, 6, 15, 0.45) 96.99%, rgba(0, 0, 0, 0) 100%);
    border-radius: 58px;
    width: auto;
    min-width: 160px;
    padding: 4px 10px;
    height: auto;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin-left: 1rem;
    
}

input[type=submit] {
    background-color: green;
}
