<!DOCTYPE html>
<html lang="pt">

<head>
    <title>YourMovie - Login</title>
    <meta charset="utf-8">
    <meta name="author" content="Pietro Freire">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/style-base.css">
    <link rel="stylesheet" href="../css/login-register.css">
</head>

<body>

    <header>
        <div class="center">
            <div class="header-left">
                <img src="../imgs/logo.png" alt="">
                <div class="menu-header">
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="genres.html">Gêneros</a></li>
                        <li><a href="movies.html">Filmes</a></li>
                        <li><a href="about.html">Sobre</a></li>
                        <li><a href="contact.html">Contato</a></li>
                    </ul>
                </div><!--Menu-Header-->
            </div><!--Header-Left-->

            <div class="header-right">
                <button class="button-login" type="button"><a href="login.html">Login in</a></button>
                <i class="material-icons">search</i>
                <div class="notifications">
                    <div class="circle-notifications">
                        <p>15</p>
                    </div><!--Circle-Notification-->
                    <i class="material-icons">notification_important</i>
                </div> <!--Notifications-->
                </div><!--Header-Right-->

            <div class="clear"></div>

        </div> <!--Center-->
    </header>

    <div id="container-box">
        <div id="title">
            <i class="material-icons lock">lock</i> Login
        </div>

        <form action="index.html">
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">face</i>
                </div>
                <input id="username" placeholder="Username" type="text" required autocomplete="off">
            </div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">vpn_key</i>
                </div>
                <input id="password" placeholder="Password" type="password" required autocomplete="off">
            </div>

            <div class="remember-me">
                <input type="checkbox">
                <span style="color: #DDD">Manter Conectado</span>
            </div>

            <input type="submit" value="Entrar" />
        </form>

        <div class="forgot-password">
            <a href="#">Esqueci minha senha</a>
        </div>

        <div class="register">
            <p>Ainda não é registrado?</p>
            <a href="register.html"><button id="register-link">Registre-se no YourMovie</button></a>
        </div>

    </div>

    <footer>
        <p><span style="color: #15a9c4">©Copyright</span> - 2020 | Site desenvolvido por Pietro Freire</p>
    </footer>

</body>

</html>
