<!DOCTYPE html>
<html lang="en">
  <head th:replace="~{base :: head}"></head>

  <body>
    <div th:replace="~{base :: menu}"></div>
    <div th:replace="~{base :: nav}"></div>

    <div class="container">


      <div th:replace="~{base :: titulo('Funcionários Cadastrados')}"></div>


      <div class="card mb-3" th:each="funcionario : ${funcionarios}">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-8 mb-3">
              <div class="row">
                <div class="col-md-5">Nome: <span th:text="${funcionario.nome}"></span></div>
                <div class="col-md-9">Código Funcional: <span th:text="${funcionario.num_funcional}"></span></div>
                <div class="col-md-12">Data de Nascimento: <span th:text="${funcionario.data_nascimento}"></span></div>
                <div class="col-md-14">Senha: <span th:text="${funcionario.senha}"></span></div>
                <div class="col-md-16">Cidade: <span th:text="${funcionario.cidade}"></span></div>
                <div class="col-md-18">Setor: <span th:text="${funcionario.setor}"></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>