<!DOCTYPE html>

<html lang="pt">

    <head>
        <!-- 
        DEV: ISRAEL TIA31983685 , AMANDA TIA41904567
        DATA: 1/10/2021
        COD: index.html
            -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Grupo 3">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <link rel="stylesheet" href="css/style-base.css">
        <link rel="stylesheet" href="css/index.css">
        <title>Monitor COVID-19 - Home Page</title>

    </head>

    <body>
        <header>
            <div class="center">
                <div class="header-left">
                    <img src="imgs/logo.png" alt="">
                    <div class="menu-header">
                        <p>Monitor COVID-19</p>
                    </div><!--Menu-Header-->
                </div><!--Header-Left-->

                <div class="header-right">
                    <a href="index-adm.html"><button class="button-profile" type="button">Perfil ADM - Home</button></a>
                </div><!--Header-Right-->

                <div class="clear"></div>

            </div> <!--Center-->
        </header>

        <div class="container-body">

            <div class="title-home">
                <h1>Bem Vindo (adm) ao Monitor COVID-19!</h1>
                <a href="pages/estado-saude.html"><button class="button-login3" type="button">Como você está se sentindo hoje?</button></a>
                <a href="pages/historico.html"><button class="button-login3" type="button">Histórico de Registros</button></a>
                <a href="pages/cadastra-membro.html"><button class="button-login3" type="button">Cadastrar Membro</button></a>
                <a href="pages/cadastra-sintoma.html"><button class="button-login2" type="button">Alterar/Inserir Sintomas</button></a>
            </div><!--Title-body2-->
            
        </div><!--Body-->

        <footer>
            <p><span style="color: #15a9c4; padding-top: 8px;">©Copyright</span> - 2021 </p>
        </footer>

    </body>

</html>
